*{
    font-family: "Bad Script";
}
p{font-family: "Sahitya"}
/*---------------------HEADER------------------*/
header {
    background-color: #da2c38;
}
header a{
     color: #f4f0bb;
    font-weight: bold;
}
.navbar{
    margin: 0;
}
/*---------------------SECTION-HERO------------------*/
.hero{
    background-color: rgb(244,240,187,0.7);
    padding: 10px 0;
}
.caption-cream{
    padding: 2%;
    background-color: rgba(218,44,56,0.6);
    border-radius: 20px;
}
#carousel-1{
    background-color: #da2c38;
}
/*---------------------SECTION-1------------------*/
.section-1{
    background-color: #f4f0bb;
    color:#da2c38;
    text-align: center;
    padding: 2% 0;
}
/*---------------------SECTION-2------------------*/
.section-2{
   background-color:#da2c38;
    text-align: center;
    color: #f4f0bb;
    padding: 3% 0;
}
/*---------------------SECTION-3------------------*/
.section-3{
    background-color: #f4f0bb;
    text-align: center;
    padding: 3% 0;
}
.section-3 .icon{
    color: #da2c38;
    font-size: 50px;
}
.section-3 .icon:hover{
    text-shadow: -5px 2px rgba(218,44,56,0.5);
}
/*---------------------FOOTER------------------*/
footer{
    background-color: #da2c38;
    color: #f4f0bb;
    padding: 1% 0;
    font-weight: bolder;
}