/* cyrillic */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(https://fonts.gstatic.com/s/badscript/v5/xvnrV3H3fZsc-fSw6fOJeCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script Regular'), local('BadScript-Regular'), url(https://fonts.gstatic.com/s/badscript/v5/rL_b2ND61EQmMOJ8CRr1fvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

*{
    font-family: "Bad Script";
}
p{font-family: "Sahitya",serif;} 
h2,h3{font-weight: bold;}
/*---------------------HEADER------------------*/
header {
    background-color: #da2c38;
}
header a{
     color: #f4f0bb;
    font-weight: bold;
}
.navbar{
    margin: 0;
}
header .navbar-toggle{
    background-color: #f4f0bb;
}
.navbar-header span{
    background-color: #da2c38;
}
.navbar .nav{
    float: right;
}
/*---------------------SECTION-HERO------------------*/
.hero{
    background-color: rgb(244,240,187,0.7);
    padding: 10px 0;
}
.caption-cream{
    padding: 2%;
    background-color: rgba(218,44,56,0.6);
    border-radius: 20px;
}
#carousel-1{
    background-color: #da2c38;
}
/*---------------------SECTION-1------------------*/
.section-1{
    background-color: #f4f0bb;
    color:#da2c38;
    text-align: center;
    padding: 2% 0;
}
/*---------------------SECTION-2------------------*/
.section-2{
   background-color:#da2c38;
    text-align: center;
    color: #f4f0bb;
    padding: 3% 0;
}
/*---------------------SECTION-3------------------*/
.section-3{
    background-color: #f4f0bb;
    text-align: center;
    padding: 3% 0;
}
.section-3 .icon{
    color: #da2c38;
    font-size: 50px;
}
.section-3 .icon:hover{
    text-shadow: -5px 2px rgba(218,44,56,0.5);
}
/*---------------------FOOTER------------------*/
footer{
    background-color: #da2c38;
    color: #f4f0bb;
    padding: 1% 0;
    font-weight: bolder;
}
/*---------------------MEDIA-QUERIES------------------*/
@media screen and (max-width:1000px){
    footer{text-align: center;}
}
@media screen and (max-width:767px){
    .navbar .nav{float: none; text-align: center;}
}